@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Zostawilem rzeczy z template ktore byly, w navbarze jest link do przejscia do zadania.

<SurveyPrompt Title="How is Blazor working for you?" />
